numpy==1.26.4
scipy==1.11.4
scikit-learn==1.4.2
opencv-python-headless==4.9.0.80
Pillow==10.3.0
pyyaml==6.0.1
rich==13.7.1
tqdm==4.66.2
pandas==2.2.1
pyarrow==15.0.0
pytest==8.1.1
onnxruntime==1.16.3; platform_system!="Darwin"
onnxruntime-silicon==1.16.3; platform_system=="Darwin"
